button {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    outline: none;
    transition: 0.3s ease-in;
    background: #f17d48;
  }
}

.new_game {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn_bg {
  background: #830c0c;
  width: 431px;
  height: 65px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.btn_start {
  background: #cd1a1a;
  width: 400px;
  height: 45px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("./../../images/icons/play.svg");
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 140px;
  }
}
.btn_restart {
  background: #cd1a1a;
  width: 400px;
  height: 45px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("./../../images/icons/refresh.svg");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    left: 130px;
  }
}
